[Unit]
Description=Lost and Found Application
Requires=docker.service
After=docker.service

[Service]
Type=simple
WorkingDirectory=/home/anton/4e-lost-and-found/deploy
EnvironmentFile=/home/anton/4e-lost-and-found/deploy/.env

# Start
ExecStart=/usr/bin/docker compose up

# Stop
ExecStop=/usr/bin/docker compose down

# Restart on failure
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target